[Install]
WantedBy=plasma-workspace.target

[Unit]
Description=Plasma Custom Window Manager (i3)
Before=plasma-workspace.target

[Service]
ExecStart=/usr/bin/i3
Restart=on-failure
